html {
	background-color: black;
	text-align: center;
	font-family: Verdana;
}

h1 {
	font-size: 50px;
	color: white;
	font-weight: normal;
}

a {
	color: aquamarine;
	font-size: 16px;
}

h2 {
	font-weight: 300;
	color: white;
	font-size: 42px;
}

p {
	font-size: 21px;
	color: gray;
}

img {
	padding-top: 25px;
}

footer {
	text-align: right;
}